<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>確認ページ</title>
</head>
<body>
<h1>確認ページ</h1>

<p>名前: <span th:text="${signupUser.name}"></span></p>
<p>社員番号: <span th:text="${signupUser.employeeNumber}"></span></p>
<p>部署ID: <span th:text="${signupUser.departmentid}"></span></p>
<p>役割: <span th:text="${signupUser.roles}"></span></p>
<p>Email: <span th:text="${signupUser.email}"></span></p>

<form th:action="@{/signup/confirm}" method="post">
    <input type="submit" value="送信">
</form>
</body>
</html>
